<% provide :title, t("books_manager") %>
<div class="container">
  <h1><%= t "books_manager" %></h1>
  <% if current_user.admin? %>
    <div class="col-md-8">
      <%= link_to t("add_book"), new_admin_book_path, class: "btn btn-primary" %>
    </div>
    <%= form_tag import_admin_books_path, multipart: true do %>
      <div class="col-md-3"><%= file_field_tag :file %></div>
      <div class="col-md-1">
        <%= submit_tag t("add_books"), class: "btn btn-primary" %>
      </div>
    <% end %>
  <% end %>
  <table class="table table-striped table_user">
    <thead>
      <tr>
        <th><%= t "id" %></th>
        <th><%= t "code" %></th>
        <th><%= t "title" %></th>
        <th><%= t "author" %></th>
        <th><%= t "category" %></th>
        <th><%= t "price" %></th>
        <th><%= t "rate" %></th>
        <th><%= t "favorite" %></th>
        <th><%= t "upload_date" %></th>
        <% if current_user.admin? %>
          <th><%= t "actions" %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <%= render partial: "list_books", collection: @books, as: :book %>
    </tbody>
  </table>
  <%= will_paginate %>
</div>
