<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><%= t "update_user" %></h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <%= form_for user, url: admin_user_path(user),
            html: {method: :patch} do |f| %>

            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>

            <%= f.label :email %>
            <%= f.email_field :email, class: "form-control" %>

            <%= f.label :address %>
            <%= f.text_field :address, class: "form-control" %>

            <%= f.label :phone %>
            <%= f.text_field :phone, class: "form-control" %>

            <%= f.submit t("update"), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
