<footer class="footer">
  <small>
    <%= t "the" %> <%= link_to t("ror"), t("link_rails") %>
    <%= t "by" %> <%= link_to t("my_name"), "#" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), "#" %></li>
      <li><%= link_to t("contact"), "#" %></li>
      <li><%= link_to t("new"), t("link_rails") %></li>
    </ul>
  </nav>
</footer>
