<footer class="footer">
  <small>
    <%= t"the" %> <a href = <%= t("link_rails")%> > <%= t"R_O_R" %></a>
    <%= t"by" %> <a href = "#"><%= t"my_name" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), "#" %></li>
      <li><%= link_to t("contact"), "#" %></li>
      <li><%= link_to t("new"), t("link_rails") %></li>
    </ul>
  </nav>
</footer>
